.env
server/server.py
server.zip
server/target/
server/build_arch.sh
server/logging.log
*.md
!README.md
middleware/target/
.vscode
*.pt
*.yaml
*.pth
seperate
*.wav
unity/
client/model/
__pycache__
*.log
duplicate/
streaminassetts/
*.ps1